<!DOCTYPE html>
<html lang="en">
<title>Home</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700%7CPoppins:400,500" rel="stylesheet">
	<link rel="stylesheet" href="/static/common-css/bootstrap.css">
	<link href="/static/common-css/ionicons.css" rel="stylesheet">
	<link rel="stylesheet" href="/static/common-js/jquery.classycountdown.js" />	
	<link href="/static/css/styles.css" rel="stylesheet">
	<link href="/static/css/responsive.css" rel="stylesheet">
<style>
body,h1,h2,h3,h4,h5,h6 {
	font-family: "Lato", sans-serif
	}
.w3-bar,h1,button {
	font-family: "Montserrat", sans-serif
	}
.fa-anchor,.fa-coffee {font-size:200px}
</style>
<body background="/static/images/pic6.jpg">
	
	<div class="main-area-wrapper" style="background-image:url(/static/images/pic6.jpg);">
		<div class="main-area center-text" >
      <div class="display-table">
        <div class="display-table-cell">
            <form action="/action_page.php">
                <input type="text" placeholder="Search.." name="search">
                <button type="submit"><i class="fa fa-search"></i></button>
              </form>
            
        
            <a class="notify-btn" href="/register"><b>สมัครสมาชิก</b></a>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <a class="notify-btn" href="/loginIncus"><b>สแกนใบหน้า</b></a>
            
        </div><!-- display-table -->
    </div><!-- display-table-cell -->
		</div><!-- main-area -->
	</div><!-- main-area-wrapper -->
	
	<!-- SCIPTS -->
	
	<script src="/static/common-js/jquery-3.1.1.min.js"></script>
	
	<script src="/static/common-js/jquery.countdown.min.js"></script>
	
	<script src="/static/common-js/scripts.js"></script>
	
</body>
</html>
