{% extends 'Webcashier/base.html' %}

 {% block content %}

      <div class="col-sm-9 p-0"
            style=" border: 2px solid rgb(241, 176, 114) ; ">
            <div class=" container">
            <div class="row">
              {% csrf_token %}
    
              {% for pd in order  %}
                {% if sc.p_type  == 'BLENDED' %}  
                <div class="col-sm-3 p-3 mt-5">
                  <button onclick="saveTable( '{{sc.P_name}},{{sc.p_type}},{{sc.price}}' )" type="button" class="btn btn-info" style="width: 100%; min-height: 80px;" >{{pd.P_name}}
                  <br>{{pd.P_nameEng}}</button>
                </div>
                {% endif %}
              {% endfor %}
  <div class="row position-absolute m-0 p-0" style="bottom: 3px; width: 90%;  ">
    <div class="col-sm-3" >
      <p><a href="/Incustumer">  <button type="button" class="btn btn-success " style=" width: 100%;  padding: 20px 28px;border-radius: 50%; ">หน้าแรก<br></button> </a> </p>
    </div>
    <div class="col-sm-3  ">
      <p> <a href="/Orderhot" > <button type="button" class="btn btn-success " style=" width: 100%;border-radius: 50%;   ">เมนูร้อน<br>Hot</button></a></p>
    </div>
    <div class="col-sm-3 ">
      <p> <a href="/Ordercold" > <button type="button" class="btn btn-success "  style=" width: 100%;border-radius: 50%;   ">เมนูเย็น<br>Cold</button></a></p>
    </div>
    <div class="col-sm-3">
      <p> <a >  <button type="button" class="btn btn-success disabled"  style=" width: 100%; border-radius: 50%;  ">เมนูปั่น<br>Blended</button></a></p>
    </div>
  </div>

</div>
</div>
</div>
</div>
</div>   
 
  


</body>

</html>
{% endblock %}